{%extends 'base.html'%}


{%block start%}
	<div class="container">
		<h2>{{student_data.0.student.std_name}}</h2>
		<span>Total: {{total_marks.marks__sum}}</span>
		<span>Rank: {{rank}}</span>
		
	<table class="table">
  <thead>
    <tr>
      <th scope="col">SR no</th>
      <th scope="col">subject</th>
      <th scope="col">marks</th>

    </tr>
  </thead>
  <tbody>
   {%for s in student_data%}
   <tr>
   	<td>{{forloop.counter}}</td>
   	<td>{{s.subject.subject_name}}</td>
   	<td>{{s.marks}}</td>
</tr>
	{%endfor%}


  </tbody>
</table>
	</div>
{%endblock%}